table {
    width: 100%;
    border-collapse: collapse
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

.th {
    font-weight: bold;
    width: 10%;
}

button {
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
    margin-right: 10px;
    margin-top: 10px;
}

.com-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 400px;
}

.comment-box {
    box-shadow: 1px 1px 10px black;
    border-radius: 8px;
    padding: 10px;
}

.com-itself {
    width: 400px;
}